<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CARS!!!!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>CARS!!!</h1>
    <br>
    <img src="/images/orange.jpg" alt="orange car">
    <img src="/images/silver.jpg" alt="silver car">
    <img src="/images/red.jpeg" alt="red car">
    <br>
    <br>
    <a href="/cats">See some cool cats here</a>
    <br>
    <br>
    <a href="/cars/new">Add a new car here</a>
</body>
</html>