@{
    ViewData["Title"] = "Home Page";
}

<h2>Enter your information</h2> 
<br>
<br>
<form method="POST" action="/">
    First Name: <input type="text" name="first_name"/>
    <br>
    <br>
    Last Name: <input type="text" name="last_name"/>
    <br>
    <br>
    Age: <input type="number" name="age"/>
    <br>
    <br>
    Email: <input type="email" name="email"/>
    <br>
    <br>
    Password: <input type="password" name="password"/>
    <br>
    <br>
    <input type="submit" value="Submit"/>
</form>