<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
    <style>
        body{
            padding: 20px;
            width: 100%;
            display: block;
        }
    </style>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <br>
    <form action="/quotes" method="POST">
        Your name: <input type="text" name="name">
        <br>
        <br>
        <p>Your Quote:</p> 
        <textarea name="quote" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="submit" name="submit" value="Add my quote!">
        <input type="submit" name="submit" value="Skip to quotes!">
    </form>
</body>