<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class='navbar'>
        <a class="current" href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="box">
        <img src="~/images/profpic.jpg" alt="Profile Picture">
        <h2>Chris Poche</h2>
    </div>
    <div class="box">
        <h1>About Me</h1>
        <p>Hey, I'm Chris. I'm an aspiring web developer, coming from a product design background.</p>
        <p>Some of my favorite things in life are traveling, Mold-A-Rama injection molded sculptures, and playing hockey.</p>
        <p>My programming experience includes working with:</p>
        <ul>
            <div class="list">
            <li>Python</li>
            <li>Django</li>
            <li>Flask</li>
            <li>MySQL</li>
            <li>MongoDb</li>
            </div>
            <div class="list">
            <li>Express.JS</li>
            <li>Angular</li>
            <li>Node.JS</li>
            <li>C#</li>
            <li>ASP.Net</li>
            </div>
        </ul>
    </div>
    <div class="footer"></div>
</body>
</html>