<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
      <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class='navbar'>
        <a href="/">Home</a>
        <a class="current" href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="proj">
        <img class="proj-img" src="~/images/proj1.png" alt="project 1">
        <div class="title-content">
            <h1 class="title-twoline">Picture (Frame) Perfect</h1> 
        </div>
        <div class="title-content content">
            <p>An Angular app, that broadcasts a live feed of your attempts to put up a picture frame. The app has a chat room where your friends can give input on if the angle is correct. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="proj">
        <img class="proj-img" src="~/images/proj2.png" alt="project 1">
        <div class="title-content">
            <h1 class="title-twoline">Poisonous? You Decide</h1> 
        </div>
        <div class="title-content content">
            <p>A Python application that allows you to take a picture snakes, polling your friends if they thing they're poisonous. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="proj">
        <img class="proj-img" src="~/images/proj3.png" alt="project 1">
        <div class="title-content">
            <h1 class="title-c">See... Sharp</h1> 
        </div>
        <div class="title-content content">
            <p>A C# app built to help users to determine if their knife is sharpened properly.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>