<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add an Owl!</title>
    <style>
        body{
            padding:25px;
        }
    </style>
</head>
<body>
    <h1>Add an Owl! </h1>
    <form action="/owls" method="POST">
        Name: <input type="text" name="name">
        <br>
        <br>
        Species: <input type="text" name="species">
        <br>
        <br>
        Distinctive Accessory: <input type="text" name="accessory">
        <br>
        <br>
        <input type="submit" name="Add that Owl!">
        <br>
        <br>
    </form>
    <a href="/">Return to Parliament</a>
</body>